<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course not found</title>
</head>
<body>
<h1>Course not found</h1>
<!--/*@thymesVar id="idCourse" type="java.lang.String"*/-->
<h3 th:text="'Id Course = ' + ${idCourse}">Course Id Course</h3>
</body>
</html>
